[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Stanislav Bashkyrtsev (ctapobep)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Stanislav Bashkyrtsev (ctapobep)
	label-Verified = -1..+1 group user/Stanislav Bashkyrtsev (ctapobep)
	push = group user/Stanislav Bashkyrtsev (ctapobep)
	read = group user/Stanislav Bashkyrtsev (ctapobep)
	rebase = group user/Stanislav Bashkyrtsev (ctapobep)
	removeReviewer = group user/Stanislav Bashkyrtsev (ctapobep)
	submit = group user/Stanislav Bashkyrtsev (ctapobep)
[access "refs/heads/*"]
	create = group user/Stanislav Bashkyrtsev (ctapobep)
	push = +force group user/Stanislav Bashkyrtsev (ctapobep)
	pushMerge = group user/Stanislav Bashkyrtsev (ctapobep)
	read = group user/Stanislav Bashkyrtsev (ctapobep)
[access "refs/tags/*"]
	push = group user/Stanislav Bashkyrtsev (ctapobep)
	push = +force group user/Stanislav Bashkyrtsev (ctapobep)
